<% @kittens.each_with_index do |kitten, index| %>
    <div>
      <%= link_to kitten_path(kitten) do %>
        <%= image_tag kitten.image_url if kitten.image_url.present? %>
      <% end %>
      <h2><%= kitten.name %></h2>
      <p>Total Reactions: <%= kitten.love + kitten.sad + kitten.laugh + kitten.happy + kitten.cute %></p>
    </div>
  <% end %>
  