<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to '/', class: "navbar-brand" do %>
      <i class="fa-solid fa-cat"></i>
    <% end %>

    <div class="navbar-text mx-auto">
      MEOWMETER
    </div>
  </div>
</div>
