.navbar-lewagon {
  display: flex; /* Set the display property to flex */
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  background: rgb(165, 126, 214);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  order: 2; /* Move the logo to the right */
}

.navbar-text {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  color: rgb(87, 174, 167) !important;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  letter-spacing: 0.1em;
  order: 1; /* Keep the text on the left */
}

.fa-solid fa-cat {
  font-size: larger;
}
