.navbar-lewagon {
  justify-content: space-between;
  background: rgb(165, 126, 214);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text {
  padding: 5px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: larger;
}

.fa-solid fa-cat {
  font-size: larger;
}
